{% extends 'base.html' %}

{% block title  %}

{% endblock %}

{% block css_js %}

{% endblock %}


{% block content %}
<div class="container popover-content row col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10">
    <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                <h1>{{ player.username }}的个人资料</h1>
            </div>
            <div class="col-md-12 col-lg-12">
                <img src="{{ src }}" class="img-rounded">
                <label>个性签名：{{ player.signature }}</label>
            </div>
            <div class="col-md-4 col-lg-4">
                <label>昵称：{{ player.nickname }}</label>
            </div>
            <div class="col-md-4 col-lg-4">
                <label>邮箱：{{ player.user.email }}</label>
            </div>
            <div class="col-md-4 col-lg-4">
                <label>积分：{{ player.integration }}</label>
            </div>
            <div class="col-md-12 col-lg-12">
                <label>参与过的游戏：</label>
            </div>
            <div class="col-md-12 col-lg-12">
                <table class="table table-striped table-hover" data-pagination="true" data-search="true" data-toggle="table" align="center">
                    <thead>
                    <tr>
                        <th data-align="center" data-valign="middle" data-field="detail">详情</th>
                        <th data-align="center" data-valign="middle" data-sortable="true" data-editable="false" data-field="game_id">游戏ID</th>
                        <th data-align="center" data-valign="middle" data-sortable="false" data-editable="false" data-field="game_topic">游戏主题</th>
                        <th data-align="center" data-valign="middle" data-sortable="true" data-editable="false" data-field="game_players">参与人数</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for game in games %}
                        <tr>
                            <td><a href="/.../{{ game.id }}">详情</a></td>
                            <td>{{ game.id }}</td>
                            <td>{{ game.topic }}</td>
                            <td>{{ game.num_players }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}