{% extends 'base.html' %}

{% block title %}一站到底{% endblock %}

{% block css_js %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block content %}
<div class="container popover-content content">
    <div class="login_form">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active" id ='login_li'>
                <a href="#login_tab" data-toggle="tab">登录</a>
            </li>
            <li role="presentation" id = 'register_li'>
                <a href="#register" data-toggle="tab">注册</a>
            </li>
        </ul>
{#       <form action="/message/" enctype="multipart/form-data" method="post">#}
{#       {% csrf_token %}#}
{#       <input type="file" name = "picfile">#}
{#       <button value="提交" type="submit">提交</button>#}
{#       </form>#}
        <div class="tab-content">
            <div class="tab-pane active" id="login_tab">
                <form action="/" method="post" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">用户名</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                    </div>
                    <div class="checkbox">
                        <label for="check">
                            <input type="checkbox" id="check" name="check">记住我
                        </label><span class="help-block">三周内免登陆</span>
                    </div>
                    <button type="submit" class="btn btn-default" name = "login">登录</button>
                </form>
                {% if error1 %}
                    <span>{{ error1 }}</span>
                {% endif %}
            </div>
            <div class="tab-pane" id="register">
                <form action="/register/" method="post" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">用户名</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
                    </div>
                    <div class="form-group">
                        <label for="nickname">昵称</label>
                        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="昵称">
                    </div>
                    <div class="form-group">
                        <label for="email">邮箱</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="邮箱">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="密码长度不少于6位">
                    </div>
                    <div class="form-group">
                        <label for="repassword">再次输入</label>
                        <input type="password" class="form-control" id="repassword" name="repassword"  placeholder="密码长度不少于6位">
                    </div>
                    <button type="submit" class="btn btn-default" name = "register">提交</button>
                </form>
                {% ifequal message "register" %}
                    <script>
                        $('#register').attr('class', 'active tab-pane');
                        $('#login_tab').attr('class', 'tab-pane');
                        $('#login_li').attr('class', '')
                        $('#register_li').attr('class', 'active')
                    </script>
                {% endifequal %}
                {% if error2 %}
                    <span>{{ error2 }}</span>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}